<article>
  <!-- Heading for the change post section -->
  <h2> Change Your Posts </h2>

  <!-- Form for editing a post -->
  <form class="edit-post-form">
    <!-- Input field for the post title, pre-filled with the current post title -->
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
    </div>

    <!-- Information about the post, such as author and comments count -->
    <div>
      Posted on {{format_date post.created_at}}
      |
      {{post.comments.length}} {{format_plural "comment" post.comments.length}}
    </div>

    <!-- Textarea for editing the post text, pre-filled with the current post text -->
    <div>
      <label for="post-text"> Post </label>
      <textarea id="post-text" name="post-text">{{post.post_text}}</textarea>
    </div>

    <!-- Button to submit changes to the post -->
    <button type="submit"> Save the Changes </button>

    <!-- Button to trigger the deletion of the post -->
    <button type="button" class="delete-post-btn"> Delete your Post </button>
  </form>
</article>

<!-- Script tag to include the JavaScript file for handling post edits -->
<script src="/public/js/editPost.js"></script>

<!-- Script tag to include the JavaScript file for handling post deletions -->
<script src="/public/js/deletePost.js"></script>